* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image:radial-gradient(rgb(184, 240, 237), rgb(235, 187, 187),rgb(250, 163, 177));
    font-family: "monserrat", sans-serif;
    overflow-x: hidden;
    color: rgb(0, 0, 0);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.comments {
    width: 40vw;
}
